.prompt-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 300px;
    margin-top: 20px;
    }
    
    .prompt-box {
    /* background-color: #fff; */
    /* border: 1px solid #ccc; */
    width: 450px;
    /* height: 50px; */
    /* box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1); */
    position: absolute;
    top: 7%;
    margin-left: 50px;
    transform: translate(-50%, -50%);
    margin-top: 20px;
    }
    .temp-border{
        z-index: -100;
        padding: 50px 100px 30px 665px;
        border: 2px solid black;
        border-radius: 2px;
        position: absolute;
        margin-left: -20px; 
        margin-top: -20px;
    }
    .temp-border2{
        z-index: -1000;
        padding: 50px 100px 30px 665px;
        /* border-left: none; */
        border-bottom: 8px solid black;
        border-right: 8px solid black;
        border-radius: 5px;
        position: absolute;
        margin-left: -18px; 
        margin-top: -18px;
    }
    .team-name{
        writing-mode: vertical-lr;
        transform: rotate(180deg);
        min-width: 20px;
        font-size: 4rem;
        margin-top: -520px;
        margin-left: 120px;
        font-family: "Oswald", sans-serif;
        color: brown;
    }
    
    .input-container {
    /* border: 1px solid black; */
    display: flex;
    }
    
    .input-container input {
    flex: 1;
    padding: 15px;
    /* margin-bottom: 10px; */
    }
    
    .send-button {
    background-color: #ffea00;
    color: #000000;
    border: 2px solid black;
    padding: 15px 15px;
    margin-left: 560px;
    margin-top: 25.5px;
    cursor: pointer;
    z-index: 100;
    }

    .send-button:hover {
    background-color: #0056b3;
    }  
    .user-input{
        /* border: 1px solid black; */
        z-index: 100;
        margin-top: -50px;
        margin-left: 280px;
    }

    .user-input input{
        flex: 1;
        padding: 15px;
            
        /* margin-left: 100px;  */
    }

    .geni-image{
        margin-top: 70px;
        margin-left: 450px;
        height: 512px;
        width: 512px;
    }

    .geni-image2{
        border: 2px solid black;
        /* border-radius: 50px; */
        /* box-shadow: 5px 5px; */
    }

    .left {
        width: 60%;
        float: left;
    }
        
    .right{
        width:40%;
        float: right;
        height : 100vh;
        display: inline-block;
        overflow-y: auto;
        /* border-left: 5px solid black; */
    }

    .chat-box{
        position: fixed;
        bottom: 25px;
        left: 120px;
        background-color: #444654;
        z-index: 100;
        color: black;
        font-size: 1rem;
        border: 2px black solid;
        width: 250px;
        min-height: 512px; /* Set a maximum height for the chat container */
        overflow-y: auto;
        box-shadow: 5px 5px;
    }
    .chat-msg{
        margin-left: 5px;
        margin-right:5px;
        text-align: left;
    }
    .chat-box-head{
        color: white;
        font-size: 20px;
        padding: 5px;
    }
    .single-chat-msg{
        background-color: #FFF0BD;
        color:#000000;
        font-family: 'Montserrat', sans-serif;
        font-size: 13px;
        padding: 10px 15px;
        border: 1px solid black;
        border-radius: 20px;
        margin: 5px;
        font-weight: 1000;
        
    }

    .team-img{
        position: fixed;
        height: 100px;
        width: auto;
        border-radius: 100%;
        left: 25px;
        top: 20px;
    }